<<<<<<< HEAD
.labeled-input{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
=======
.labeled-input{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
>>>>>>> e6f0051c04cb77a194b82bd423d9a34135fae546
}